<html>
<head>
  <title>Sample Blog</title>
</head>
<body>
<div style="display: flex; justify-content:center; align-items: center; min-height: 100vh">
  <div style="text-align: center">
    <h1>Welcome to the <strong>Sample Blog</strong>!</h1>
    <p>There's not much here,</p><br />
    <p>Because you should look at our <a rel="noopener" href="https://documenter.getpostman.com/view/2582145/TzCQbn5S">API Documentation</a>.</p>
    <p>You can review the source code for this project <a rel="noopener" href="https://github.com/HarvestProfit/sample-blog">here</a>.</p>
  </div>
</div>
</body>
</html>
