<!DOCTYPE html>
<!-- Congrats! You found some of the source code! Now you should go build something awesome. -->
<!-- You can find the rest of the source code here: https://github.com/HarvestProfit/sample-blog -->
<html lang="en">
<head>
  <title>Sample Blog</title>
  <meta name="description" content="A Sample Blog API made by Harvest Profit" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div style="display: flex; justify-content:center; align-items: center; min-height: 100vh">
  <div style="text-align: center">
    <img src="https://www.harvestprofit.com/logo.png" alt="Harvest Profit" style="max-width: 100%; width: 500px">
    <h1>Welcome to the Sample Blog!</h1>
    <p>There's not much here, because you should look at our <a rel="noopener" href="https://documenter.getpostman.com/view/2582145/TzCQbn5S">API Documentation</a>.</p><br />
    <p>You can review the <a rel="noopener" href="https://github.com/HarvestProfit/sample-blog">source code for this project here</a>.</p>
  </div>
</div>
</body>
</html>
